[Unit]
Description=Muhkuh WebUI
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/webui-0.0.1
ExecStart=/opt/webui-0.0.1/lua5.4 websocket_server.lua
Restart=on-failure 
RestartSec=2

[Install]
WantedBy=multi-user.target
