station_name = Muhkuh Teststation Unconfigured
test_path =
archive_path =
test_archive =
depack_path =
interface =
webserver_embedded = true
webserver_port = 9090
webserver_path = /webui
websocket_port = 12345
system_serial = 4321
kafka_broker =
kafka_options =
local_config =
