[Unit]
Description=Muhkuh WebUI
After=network-online.target
After=time-sync.target
Requires=network-online.target
Requires=time-sync.target

[Service]
Type=simple
WorkingDirectory=/opt/webui-0.0.4
ExecStart=/opt/webui-0.0.4/lua5.4 websocket_server.lua
User=muhkuh
Group=muhkuh
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
