#TesterApp {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
}
#TesterUIHoverButtons {
  position: absolute;
  z-index: 2;
  right: 1em;
  background-color: #00000060;
  padding: 0.4em;
  border-radius: 0.5em;
}
#TesterHeader {
  /* Set a margin of 1em to top, left and right. Set no margin to the bottom. */
  margin: 1em 1em 0 1em;
  flex-grow: 0;
  flex-shrink: 0;
}
.TesterUISummary_CowBar {
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;

  /* Scroll the icons horizontally. */
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  flex-wrap: nowrap;
}
.TesterUISummary_Cow {
  flex-grow: 0;
  flex-shrink: 0;
}
.TesterUISummary_Progress {
  position: absolute;

  /* Display this element above the others. */
  z-index: 1;
}
#TesterTabContents {
  /* Set a margin of 1em to left, right and bottom. Set no margin to the top. */
  margin: 0 1em 1em 1em;

  flex-grow: 1;
  flex-shrink: 1;

  /* Show a scroll-bar if the content has too many lines. */
  overflow-y: scroll;
}

.cow_progress_path {
  stroke-dasharray: 1,900;
  stroke-dashoffset: 0;
  stroke:#000;
  transform-origin: center center;
  animation:
    dash 1.5s ease-in-out infinite,
    rotate 2s linear infinite
  ;
  stroke-linecap: round;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}
@keyframes dash{
  0%{
    stroke-dasharray: 1,900;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 400,900;
    stroke-dashoffset: -158;
  }
  100%{
    stroke-dasharray: 400,900;
    stroke-dashoffset: -558;
  }
}

.blink {
    animation: blinkAnim 1s infinite
}

@keyframes blinkAnim {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

@import 'xterm';
