#TesterApp {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
}
#TesterHeader {
  /* Set a margin of 1em to top, left and right. Set no margin to the bottom. */
  margin: 1em 1em 0 1em;
  flex-grow: 0;
  flex-shrink: 0;
}
.TesterUISummary_CowBar {
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 1em;

  /* Scroll the icons horizontally. */
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  flex-wrap: nowrap;
}
.TesterUISummary_Cow {
  flex-grow: 0;
  flex-shrink: 0;
}
#TesterTabs {
  margin-top: 1em;
}
#TesterTabContents {
  /* Set a margin of 1em to left, right and bottom. Set no margin to the top. */
  margin: 0 1em 1em 1em;

  flex-grow: 1;
  flex-shrink: 1;

  /* Show a scroll-bar if the content has too many lines. */
  overflow-y: scroll;
}
.TesterLog {
  font-family: "Roboto Mono", monospace;
  background-color: black;
}
